:root {
  --primary-color: #B30000; 
  --secondary-color: #1A1A1A; 
  --neutral-color: #333333; 
  --light-color: #FFFFFF; 
  --text-color: #FFFFFF; 
  --error-color: #B30000; 
  --link-color: #007BFF; 
  --link-disabled-color: #007BFF80; 


}

.bg-primary-color {
  background-color: var(--primary-color) !important;
  transition: background-color 0.3s;
}


.bg-primary-color-disabled {
  background-color: rgba(179, 0, 0, 0.5) !important;
  cursor: not-allowed;
}


.text-link-color {
  color: var(--link-color) !important;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s;
}


.text-link-disabled {
  color: var(--link-disabled-color) !important;
  cursor: not-allowed;
  text-decoration: none;
}


.text-light-color {
  color: var(--light-color) !important;
}

.text-error-color {
  color: var(--error-color) !important;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
